.DS_Store
*.log
*.pid
*.seed
*.swp
*.swo
.env
.env.*
!.env.example
.envrc
.pnpm-store
.eslintcache
.turbo
.idea
.vscode
.cache
node_modules
dist
coverage
.expo
.expo-shared
*.tsbuildinfo
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
apps/desktopapp/src-tauri/target
apps/desktopapp/src-tauri/gen
